
/*********************** About Sub page css Start ***********************/
.about-subpage{background: url(../assets/images/about-shape.svg);background-position: left bottom;background-repeat:no-repeat ;}
.about-sub-left .title-style-2{margin-bottom: 24px;}
.about-sub-left p{margin-bottom: 16px;}
.about-sub-left p:last-child{margin-bottom: 0;}
.about-subpage .about-sub-images{position: relative;padding-top: 86.7%;margin-left: 24px;}
.about-subpage .about-sub-images img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center center; border-radius: 24px; }
/*********************** About Sub page css End ***********************/

/*********************** Our Vision & Our Mission css Start ***********************/
.vision-mission-section{position: relative;background-color:var(--grey-shade-97);}
.vision-wrapper .tabs{ justify-content: center; margin-bottom: 44px; }
.mission-box{ position: relative; padding: 34px 24px; border: 1px solid var(--grey-shade-95); border-radius: 16px; background: var(--global-white); box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.03); height: 100%; transition: 0.5s all; -webkit-transition: 0.5s all; }
.mission-box:hover{ border-color:var(--base-color-s-main); box-shadow: 0px 0px 15px 0px rgba(0, 89, 153, 0.05); }
.mission-box .mission-box-img{ width: 92px; height: 92px; background: var(--secondary-s-97); margin-bottom: 16px; border-radius: 8px; padding: 24px; }
.mission-box .mission-box-img span{ display: block; width: 44px; height: 44px; }
.mission-box .mission-box-img span img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
.mission-box .title-style-6{ margin-bottom: 8px; }
.mission-box p{margin-bottom: 16px;}
.mission-box p:last-child{margin-bottom: 0;}
/*********************** Our Vision & Our Mission css Start ***********************/

/*********************** Board of Directors ***********************/
.directors-box{ position: relative; display: block; padding: 24px; background: var(--global-white); border: 1px solid var(--grey-shade-90); box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); border-radius: 8px; transition: 0.5s all; -webkit-transition: 0.5s all; height: 100%; }
.directors-box .directors-name p{ font-size: 18px; font-weight: 600; line-height: 26px; color: var(--base-color-s-main); margin-bottom: 4px; }
.directors-box p{ color: var(--grey-shade-50); margin-bottom: 16px; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden; }
.directors-postion p{ font-weight: 700; margin-bottom: 0; }
.directors-box:hover{border-color: var(--base-color-s-main);box-shadow: 0px 0px 15px 0px rgba(0, 89, 153, 0.05)}


/*********************** Directors modal ***********************/
.directors-modal .modal-dialog{ max-width: 1224px; }
.directors-modal .modal-content{ background: var(--global-white); border-radius: 24px; }
.directors-modal .modal-content .modal-body{ padding: 44px; }
.directors-modal .modal-content .modal-body .btn-close{ position: absolute;padding: 0; width: 32px; height: 32px; top: 24px; right: 24px; background: url(../assets/images/close-icon-modal.svg); background-size: cover; background-repeat: no-repeat; opacity: 1; }
.directors-modal .modal-content .modal-body .btn-close:focus{box-shadow: none;}
.directors-modal .modal-body .directors-title{margin-bottom: 16px;}
.directors-modal .modal-body .directors-title .title-style-6{color: var(--base-color-s-main);margin-bottom: 8px;}
.directors-modal .modal-body .directors-title p{font-weight: 500;color: var(--grey-shade-50);margin-bottom: 0;}
.directors-modal .modal-body p{margin-bottom: 16px;}
.directors-modal .modal-body p:last-child{margin-bottom: 0;}
/*********************** Media-query ***********************/


@media (min-width: 1200px) and (max-width: 1399px){
    /*********************** Directors modal ***********************/
    .directors-modal .modal-dialog { max-width: 1140px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*********************** Directors modal ***********************/
    .directors-modal .modal-dialog { max-width: 960px; }
}
@media (min-width: 768px) and (max-width: 991px) {
    /*********************** Directors modal ***********************/
    .directors-modal .modal-dialog { max-width: 720px; }
}

@media (min-width: 576px) and (max-width: 767px){
    /*********************** Directors modal ***********************/
    .directors-modal .modal-dialog { max-width: 540px; }
}

@media (max-width: 991px){
    .about-sub-left .title-style-2 { margin-bottom: 15px; }
    .about-subpage .about-sub-images { padding-top: 450px; margin-left: 0px; }
}
@media (max-width: 767px){
    .vision-wrapper .nav-pills{display: none;}
    .about-sub-left p { margin-bottom: 12px; }
    .mission-box { padding: 24px 20px; }

    .directors-box .directors-name p { font-size: 16px; line-height: 24px; }
    .directors-box p{margin-bottom: 10px;}
    /*********************** Directors modal ***********************/
    .directors-modal .modal-body .directors-title { margin-bottom: 10px; }
    .directors-modal .modal-content .modal-body { padding: 30px; }
    .directors-modal .modal-body .directors-title .title-style-6 { margin-bottom: 4px; }
}

@media (max-width: 575px){
    .about-subpage .about-sub-images { padding-top: 350px; }
}