
/*********************** contact us banner ***********************/
.contact-banner:before{ content: none; }

/*********************** contact us address ***********************/
.corporate-wrapper .title-style-4{margin-bottom: 24px;}

.corporate-address-box{ position: relative; padding: 24px;background: var(--global-white); border: 1px solid var(--grey-shade-95); border-radius: 10px; margin-bottom: 16px; display: flex; gap: 16px; align-items: center;transition: 0.5s all;-webkit-transition: 0.5s all; }
.corporate-address-box .address-box-icon{ width: 76px; height: 76px; border-radius:50%; background: var(--secondary-s-97); padding: 16px; }
.corporate-address-box .address-box-icon span{display: block;width: 44px;height: 44px;}
.corporate-address-box .address-box-icon span img{width: 100%;height: 100%;object-position: center;object-fit: cover;}
.corporate-address-box .corporate-content p strong{ font-weight: 700; font-size: 18px;color: var(--base-color-s-main); }
.corporate-address-box .corporate-content p{margin-bottom: 8px;}
.corporate-address-box .corporate-content p a{color: var(--grey-shade-40);transition: 0.5s all;}
.corporate-address-box .corporate-content p a:hover{color: var(--base-color-s-main);text-decoration: underline;}
.corporate-address-box .corporate-content p:last-child{margin-bottom: 0;}
.corporate-address-box:hover{border-color: var(--base-color-s-main);}

.corporate-wrapper .last-content{margin-top: 8px;}


.corporate-map{margin-left: 20px;}
.corporate-map iframe{height: 600px;}

/*********************** contact us Form ***********************/
.contact-form-section{padding-bottom: 90px;background-image: url(../assets/images/contact-shape.svg);background-repeat: no-repeat;background-position: left bottom;}

.contact-form-wrapper .form-control,.contact-form-wrapper .form-select{ position: relative; padding: 14px 16px; background: var(--global-white); border-radius: 4px; border: none; border-bottom: 1px solid var(--grey-shade-80); font-size: 16px; font-weight: 500; color: var(--grey-shade-60); margin: 0; line-height: 24px; }
.contact-form-wrapper .form-control::placeholder{ color: var(--grey-shade-60); }
.contact-form-wrapper .form-control:focus,.contact-form-wrapper .form-select:focus{ box-shadow: none; outline: none; }
.contact-form-wrapper .field-container textarea{max-height: 100px;overflow-y: auto;}
.contact-form-wrapper .wpcf7-not-valid-tip{ position: relative; }

.contact-form-wrapper .field-container.focused .form-control,.contact-form-wrapper .field-container.focused .form-select{ border: 1px solid var(--base-color-s-main); color: var(--base-color-s-main); padding: 13px 16px; }
.contact-form-wrapper .field-container.focused .form-control::placeholder{ color: var(--base-color-s-main); }
.submit-btn{ position: relative!important; padding: 14px 20px!important; border: none!important; min-width: 200px!important; font-size: 16px!important; font-weight: 700!important; line-height: 24px!important; color: var(--global-white)!important; background: var(--base-color-p-main)!important; border-radius: 4px!important; overflow: hidden; z-index: 1; transition: 0.5s all; -webkit-transition: 0.5s all; font-family: var(--primary-font-family)!important; margin-top: 15px; }
.submit-btn:hover{background: var(--base-color-s-main)!important;}
.contact-form-wrapper .wpcf7-spinner { position: absolute; top: 50%; transform: translateY(-50%); }


/*********************** contact address ***********************/
.contact-different-address{background: url(../assets/images/conatct-pattern.png);background-repeat: no-repeat;background-position: right top;}

.contact-different-wrapper .tabs{justify-content: center;margin-bottom: 44px;}
.contact-left-image { position: relative; padding-top: 83.4%; margin-right: 24px; }
.contact-left-image img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center center; border-radius: 24px; }

.contact-right-address .title-style-4{margin-bottom: 24px;}


/*********************** Media-query ***********************/
@media (min-width: 1200px) and (max-width: 1399px){
    /*********************** contact us address ***********************/
    .corporate-map { margin-left: 0px; }
    .corporate-map iframe { height: 550px; }

    /*********************** contact address ***********************/
    .contact-left-image { padding-top: 89.4%; }
}

@media (min-width: 992px) and (max-width: 1199px){

    /*********************** contact us address ***********************/
    .corporate-map { margin-left: 0px; }
    .corporate-map iframe { height: 520px; }

    /*********************** contact address ***********************/
    .contact-left-image { padding-top: 110%; margin-right: 10px; }
}


@media (max-width: 991px){
    /*********************** contact us address ***********************/
     .corporate-map { margin-left: 0px; }
    .corporate-map iframe { height: 400px; }

    /*********************** contact us Form ***********************/
    .contact-form-section{background-size: 30%;padding-bottom: 50px;}
}

@media (max-width: 575px){
    /*********************** contact us address ***********************/
    .contact-right-address .title-style-4,.corporate-wrapper .title-style-4 { margin-bottom: 12px; }
    .corporate-address-box { align-items: flex-start; }
    .corporate-address-box .address-box-icon { width: 56px; height: 56px; padding: 11px; }
    .corporate-address-box .address-box-icon span { width: 34px; height: 34px; }
    .corporate-address-box .corporate-content p { margin-bottom: 4px; }

     /*********************** contact us Form ***********************/
    .contact-form-section{padding-bottom: 35px;}
}

@media (max-width: 400px){
    .corporate-address-box { padding: 15px; }
    .corporate-address-box .corporate-content p strong { font-size: 16px;line-height: 24px; }
    .corporate-address-box .corporate-content p { font-size: 14px;line-height: 22px; }

}

