.investor-charter-tabing .tabs{ margin-bottom: 44px; }
.investor-wrapper-part .investor-content:last-child{margin-bottom: 0;}
.investor-content{margin-bottom: 44px;}
.investor-content .title-style-5{margin-bottom: 16px;}
.investor-point ul,.investor-point ol{display: flex;flex-direction: row;flex-wrap: wrap;gap: 14px;}
.investor-point ul li,.investor-point ol li{width: calc(100% / 2 - 7px);padding: 0px 0px 0px 32px;}
.investor-point ul li::before,.investor-point ol li::before{top: -1px;}

/*********************** custom table ***********************/
.custom-table .table>thead>tr>th:nth-child(1){width: 150px;}
.custom-table .table>thead>tr>th:nth-child(2){width: 44%;}
.custom-table .table>tbody>tr td:first-child{border-radius: 8px 0 0 8px!important;}

.investor-content p strong{ color: var(--base-color-s-main); font-weight: 700; }
.investor-content p{margin-bottom: 10px;}
.investor-content p a{color: var(--base-color-s-main);font-weight: 700;}
.investor-content p:last-child{margin-bottom: 0;}
.inverstor-image{padding: 25px;text-align: center;border: 1px solid var(--grey-shade-90);border-radius: 24px;}

.default-pargraph p{font-weight: 700;margin-bottom: 12px;}

.default-pargraph{margin-bottom: 16px;}
/*********************** Media-query ***********************/
@media (max-width: 991px){
    .investor-content { margin-bottom: 30px; }
        
}
@media (max-width: 767px) {
    .investor-content .title-style-6 { margin-bottom: 10px; }
    /*********************** custom table ***********************/
    .custom-table .table>thead>tr>th:nth-child(1){width: 70px;}
    .custom-table .table { border: none; width: 900px; }
    .custom-table .table>tbody>tr td:first-child{width: 100px;}
}
@media (max-width: 575px){
    .investor-point ul,.investor-point ol{gap: 10px;}
    .investor-point ul li,.investor-point ol li{width: 100%;}
}