/*********************** Help market section ***********************/
.help-market-section{background: url(../assets/images/hep-shape.svg);background-repeat: no-repeat;background-position: left bottom -12px;}
.help-market-section .help-content .title-style-2{margin-bottom: 24px;}
.help-market-section .help-content p strong{color: var(--base-color-s-main);font-weight: 700;}
.help-market-section .help-content p{margin-bottom: 16px;}
.help-market-section .help-content p:last-child{margin-bottom: 0;}

.help-market-section .help-image{position: relative;margin-left: 24px;padding-top: 83.3%;}
.help-market-section .help-image img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center center; border-radius: 24px; }

/*********************** notice show ***********************/
.month-date{display: flex; gap: 24px;align-items: center;margin-bottom: 40px;}
.month-selecet { width: 261px; }
.month-selecet .primary-button{ min-width: 150px; }
.month-tabing .tabs{margin-bottom: 24px;}
.date-content-wrapper .date-content{margin-bottom: 16px;}
.date-content-wrapper .date-content:last-child{margin-bottom: 0;}
/* .date-content-wrapper .date-content p strong{color: var(--base-color-s-main);font-weight: 700;} */
.date-content-wrapper .date-content p{margin-bottom: 16px;}
.date-content-wrapper .date-content p:last-child{margin-bottom: 0;}

.date-content-wrapper .date-content h1,
.date-content-wrapper .date-content h2,
.date-content-wrapper .date-content h3,
.date-content-wrapper .date-content h4,
.date-content-wrapper .date-content h5,
.date-content-wrapper .date-content h6{
    font-size: 16px;
    line-height: 24px;
    color: var(--base-color-s-main);
    font-weight: 700;
    margin-bottom: 4px;
}





@media (max-width: 991px){
    .help-market-section .help-image { margin-left: 0px; }
}



@media (max-width: 767px){
    .help-market-section .help-content .title-style-2 { margin-bottom: 15px; }
    .help-market-section .help-content p { margin-bottom: 10px; }
    .date-content-wrapper .date-content h1,
    .date-content-wrapper .date-content h2,
    .date-content-wrapper .date-content h3,
    .date-content-wrapper .date-content h4,
    .date-content-wrapper .date-content h5,
    .date-content-wrapper .date-content h6 { font-size: 14px; line-height: 22px; }
}

@media (max-width: 575px){
    .month-date { gap: 12px; margin-bottom: 20px; flex-wrap: wrap; }
    .month-selecet { width: 100%; }
    .month-selecet .primary-button { min-width: 150px; width: 100%; }
    .date-content-wrapper .date-content { margin-bottom: 10px; }
}