/*********************** Help market section ***********************/
.help-market-section{background: url(../assets/images/hep-shape.svg);background-repeat: no-repeat;background-position: left bottom -12px;}
.help-market-section .help-content .title-style-2{margin-bottom: 24px;}
.help-market-section .help-content p strong{color: var(--base-color-s-main);font-weight: 700;}
.help-market-section .help-content p{margin-bottom: 16px;}
.help-market-section .help-content p:last-child{margin-bottom: 0;}

.help-market-section .help-image{position: relative;margin-left: 24px;padding-top: 83.3%;}
.help-market-section .help-image img{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center center; border-radius: 24px; }

/*********************** notice show ***********************/
.month-date{display: flex; gap: 24px;align-items: center;margin-bottom: 40px;}
.month-selecet { width: 261px; }
.month-selecet .primary-button{ min-width: 150px; }
.month-tabing .tabs{margin-bottom: 24px;}
.date-content-wrapper .date-content{margin-bottom: 16px;}
.date-content-wrapper .date-content:last-child{margin-bottom: 0;}
.date-content-wrapper .date-content p strong{color: var(--base-color-s-main);font-weight: 700;}
.date-content-wrapper .date-content p{margin-bottom: 4px;}
.date-content-wrapper .date-content p:last-child{margin-bottom: 0;}
/* ######################################## Select Style ######################################## */
.select-hidden { display: none; visibility: hidden; padding-right: 10px; }
.select { cursor: pointer; display: inline-block; position: relative; font-size: 16px; color: #171725; width: 100%; height: 48px; }
.select-styled { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: transparent; border: 1px solid var(--grey-shade-80); border-radius: 4px; padding: 12px 10px; font-family: var(--primary-font-family); color: var(--grey-shade-50); font-size: 16px; font-weight: 500; }
.select-styled.active { border-color: var(--base-color-s-main); color: var(--base-color-s-main); }
.select-styled:after { content: "\f107"; font-size: 24px; position: absolute; width: 24px; line-height: 24px; text-align: center; height: 24px; top: 50%; transform: translateY(-50%); right: 10px; font-family: 'FontAwesome'; color: var(--grey-shade-80); }
.select-styled.active::after { content: "\f106"; color: var(--base-color-s-main); }
.select-options { display: none; position: absolute; top: 100%; right: 0; left: 0; z-index: 999; list-style: none; border: 1px solid var(--grey-shade-90); background-color: var(--global-white); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.04); border-radius: 0 0 8px 8px; padding: 8px; }
.select-options li { font-family: var(--primary-font-family); margin: 0; padding: 10px 15px!important;border: none !important; font-size: 14px; font-weight: 600; color: var(--grey-shade-50); line-height: 22px; border-radius: 4px; }
.select-options li:hover, .select-options li.is-selected { color: var(--base-color-s-main); background: var(--secondary-s-97); }
.select-options li[rel="hide"] { display: none; }


@media (max-width: 991px){
    .help-market-section .help-image { margin-left: 0px; }
}



@media (max-width: 767px){
    .help-market-section .help-content .title-style-2 { margin-bottom: 15px; }
    .help-market-section .help-content p { margin-bottom: 10px; }
}

@media (max-width: 575px){
    .month-date { gap: 12px; margin-bottom: 20px; flex-wrap: wrap; }
    .month-selecet { width: 100%; }
    .month-selecet .primary-button { min-width: 150px; width: 100%; }
    .select-styled { padding: 10px 10px; font-size: 14px; }
    .select { height: 42px; }
    .date-content-wrapper .date-content { margin-bottom: 10px; }
}